.whole-webpage {
  background-color:#FFFAFA ;
}

h1{
  font-family: Lucida;
  color: #af7ac5;
  font-size:80px;
  border: 5px solid #af7ac5;
  margin-right: 280px; margin-left: 280px;
  text-align: center;
}

a{
  font-family: Lucida;
  color: black;
  font-size: 18px;
  text-align: center;
  padding-left: 80px; padding-right: 80px;
}

h4{
    text-align: left;
    padding-left: 95px;
}
